:root {
  --white: #ffffff;

  --red: #EC7B77;
  --light_red: #F5BBB9;

  --green: #A3C98E;
  --light_green: #C9E3C2;

  --primary: #9C7EAB;
  --light_primary: #CEBED7;

  --yellow: #FEDB70;
  --light_yellow: #FFECB4;

  --blue: #008CFF;
  --light_blue: #43aefd;
}

body {
  background-color: #F1F1F1;
}

.App {
  background: url("./image/bg.jpg") no-repeat 100%/cover;
}

.wrapper {
  padding: 0 100px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 10px;
  }
}
